<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<ul>
  <% @members.each do |member| %>
    <li>
      <%= member[:first].capitalize %> <%= member[:last].capitalize %>
    </li>
  <% end %>
</ul>

<form action="/contact" method="get">
  <input
    type="text"
    name="first"
    placeholder="Who are you looking for?"
    value="<%= params[:first] %>"
  >
  <input
    type="text"
    name="last"
    placeholder="Who are you looking for?"
    value="<%= params[:last] %>"
  >
  <input type="submit">
</form>

<%= link_to 'Back home', root_path %>
